@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 17 24 39;
  }
  .dark {
    --background: 17 24 39;
    --foreground: 249 250 251;
  }
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #DC2626;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B91C1C;
}
